extends layout

block content
    a(href='/' class="button") < Go back
    h1 #{title}
    form(method='POST' action="/new" class='form') 
        label(for="name") Name: 
            input(type="text", name="name") 
        label(for='message') Message: 
            input(type="text", name='message')
        button(type='submit' class='button') Submit